PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL="mysql://root:@localhost:3306/casino_zero_trust"
JWT_SECRET=cambia-este-secreto-del-laboratorio
ADMIN_USER=admin
ADMIN_PASSWORD=lab-casino-2026
